<%- include('partials/header') %>
<script src="/js/test.js" defer></script>
<link rel="stylesheet" href="/css/destinationsStyle.css">

<h1 class="destination__title">Destinations</h1>

<div class="destination__articles">

<% for(let result of results) { %>

    <a class="destination__article" href="/destination/<%= result.destination %>">
        <img class="destination__article-back" src="/img/<%= result.destination %>.png" alt="<%= result.destination %>">
        <div class="destination__article-front"><%= result.destination %></div>
    </a>
    <% } %>

</div>

<%- include('partials/footer') %>