<%- include('partials/header') %>
<link rel="stylesheet" href="/css/destinationsStyle.css">

<h1 class="destination__title">Destinations</h1>

<div class="destination__articles">

<% for(let oneDestination of results) { %>

    <a class="destination__article" href="/destination/<%= oneDestination.dataValues.id %>">
        <img class="destination__article-img" src="/img/<%= oneDestination.dataValues.country %>.png" alt="<%= oneDestination.dataValues.country %>">
        <div class="destination__article-text"><%= oneDestination.dataValues.country %></div>
    </a>
    <% } %>

</div>

<%- include('partials/footer') %>