<%- include('partials/header') %>
<link rel="stylesheet" href="/css/favoritesStyle.css">

<h1 class="favorites__title">Favorites</h1>

<% if (favoritesSelection.length > 0) { %>

    <div class="favorites">

        <% for(let hotel of favoritesSelection) { %>

            <article class="hotel__article"> 
                <a href="/hotels/<%= hotel.id %>">
                    <img class="hotel__article-image" src="/img/<%= hotel.image_general %>.png" alt="<%= hotel.name %>">
                    <div class="hotel__article-text">
                        <h1 id="hotel__article-name"><%= hotel.name %></h1>
                        <div class="hotel__article-location">
                            <h2 id="hotel__article-country"><%= hotel.destinations.country %>,</h2>
                            <h2 id="hotel__article-city"><%= hotel.cities.name %></h2>
                        </div>
                    </div>
                    <div class="hotel__article-footer">
                        <h2 id="hotel__article-price">$ <%= hotel.price %></h2>
                    </div>
                </a>
                <a class="hotel__delete-btn" href="/favorites/remove/<%= hotel.id %>">&times;</a>
            </article>
            
            
            
            
            
                              

        <% } %>

    </div>

<% } else { %>

    <div class="noFavorites">
        <h1 class="noFavorites__statut">No favorites</h1>
        <a class="noFavorites__hotels-btn" href="/hotels">Check hotels</a>
    </div>

    <% } %>



<%- include('partials/footer') %>