<%- include('partials/header') %>
<link rel="stylesheet" href="/css/flightsStyle.css">


<script src="/js/flightNotification.js" defer></script>

<h1 class="flight__title">Your flight</h1>
   
<section class="flight__articles">
    <div class="flight__article">
        <h2 id="flight__article-destination" class="flight__article-element"><%= flight.destinations.country %></h2>
        <h2 id="flight__article-day" class="flight__article-element">Date : <%= flight.day %></h2>
        <h2 id="flight__article-time" class="flight__article-element"> <%= flight.time %>:00</h2>
        <h2 id="flight__article-company" class="flight__article-element"><%= flight.company %></h2>
        <h2 class="flight__article-element">Duration : <%= flight.duration %> h</h2>
        <h2 class="flight__article-element">$ <%= flight.price %></h2>
    </div>
    <div class="flight__book">
        <a id="flight__book-btn" href="#">Book now</a>
    </div>
    <div class="notification">
        <p>This flight has just been sold out..</p>
    </div>
</section>