<%- include('partials/header') %>
<link rel="stylesheet" href="/css/flightsStyle.css">

<% if (availableFlights.length > 0) { %>
    
    <h1 class="searchResult__title">We have some flights for <%= availableFlights[0].destinations.country %> according to your budget &#x1F603; &#x2708;</h1>

    <section class="searchResult__articles">

        <% for(let flight of availableFlights) { %>
    
            <a class="searchResult__article" href="/destination/<%= flight.id %>">
                <h2 id="searchResult__article-day" class="searchResult__article-element">Date : <%= flight.day %></h2>
                <h2 id="searchResult__article-time" class="searchResult__article-element"> <%= flight.time %>:00</h2>
                <h2 id="searchResult__article-company" class="searchResult__article-element"><%= flight.company %></h2>
                <h2 class="searchResult__article-element">Duration : <%= flight.duration %> h</h2>
                <h2 class="searchResult__article-element">$ <%= flight.price %></h2>
            </a>
    
        <% } %>
    
    </section>

    <% } else { %>

    <h1 class="searchResult__title">Sorry, we have no flights for <%= noDestination %> according to your budget &#x1F61E;</h1>

<% } %>