<%- include('partials/header') %>
<link rel="stylesheet" href="/css/flightsStyle.css">

<% if(results==true){ %>

    <h1 class="searchResult__title">Some flights match your budget !</h1>
    
    <% for(let flight of results) { %>

    <a href="/flights/book" class="searchResult__article" href="/destination/<%= flight.destination %>">
        <h2 id="searchResult__article-destination" class="searchResult__article-element"><%= flight.destination %></h2>
        <h2 id="searchResult__article-company" class="searchResult__article-element"><%= flight.company %></h2>
        <h2 class="searchResult__article-element">Duration : <%= flight.duration %> h</h2>
        <h2 id="searchResult__article-day" class="searchResult__article-element">On : <%= flight.day %></h2>
        <h2 id="searchResult__article-time" class="searchResult__article-element">at : <%= flight.time %>:00</h2>
        <h2 class="searchResult__article-element">$ <%= flight.price %></h2>
    </a>

    <% }

}

else { %>
    
    <h1 class="searchResult__title">No flight available with your budget..</h1>
    <a href="/destinations" class="searchResult__article"></div>
        <p class="searchResult__btn">Look at our offers</p>
    </a>

<% } %>

<%- include('partials/footer') %>