<%- include('partials/header') %>
<link rel="stylesheet" href="/css/hotelsStyle.css">

<h1 class="hotel__title">Hotels</h1>

<section class="hotel__articles">
<% for(let hotel of allHotels) { %>

    <a class="hotel__article" href="/hotels/<%= hotel.id %>">
        <img class="hotel__article-image" src="/img/<%= hotel.image %>.png" alt="<%= hotel.name %>">
        <div class="hotel__article-front">
            <div class="visible">   
                <div class="hotel__article-frontVisible">
                    <h1 id="hotel__article-name"><%= hotel.name %></h1>
                    <h2 id="hotel__article-city"><%= hotel.destinations.city %></h2>
                </div>
                    <h2 id="hotel__article-price">$ <%= hotel.price %></h2>
            </div>
            <div class="hidden">
                <p id="hotel__article-read">Read more</p>
            </div>
        </div>
    </a>
    <% } %>

</section>

<%- include('partials/footer') %>