<%- include('partials/header') %>
<link rel="stylesheet" href="/css/hotelsStyle.css">

<!--On passe l'objet 'allHotels' dans le fichier 'hotelsList.js' afin qu'il puisse l'utiliser-->
<script> const allHotels = JSON.parse('<%- JSON.stringify(allHotels) %>'); </script>
<script src="js/hotelsList.js" defer></script>
<!--<script src="js/hotelsByDestination.js" defer></script> ????????? -->
<!--------------------------------------------------------------------------------------------->

<h1 class="hotel__title">Hotels</h1>

<section class="hotel__articles">
      <% for(let i = 0; i<6; i++) { %>
        <% if (i < allHotels.length) { %>
          <a class="hotel__article" href="/hotels/<%= allHotels[i].id %>">
            <img class="hotel__article-image" src="/img/<%= allHotels[i].image_general %>.png" alt="<%= allHotels[i].name %>">
            <div class="hotel__article-front">
              <div class="visible">   
                <div class="hotel__article-frontVisible">
                  <h1 id="hotel__article-name"><%= allHotels[i].name %></h1>
                  <% if (url=="/hotels"){ %>
                    <h2 id="hotel__article-country"><%= allHotels[i].destinations.country %></h2>
                  <% } else { %>
                    <h2 id="hotel__article-city"><%= allHotels[i].cities.name %></h2>
                  <% } %>
                </div>
                <h2 id="hotel__article-price">$ <%= allHotels[i].price %></h2>
              </div>
              <div class="hidden">
                <p id="hotel__article-read">Discover</p>
              </div>
            </div>
          </a>
        <% } %>
      <% } %>
  </section>
<section class="load-more">
  <button class="load-more-button">See more</button>
</section>
  

<%- include('partials/footer') %>