<%- include('partials/header') %>
<link rel="stylesheet" href="/css/destinationStyle.css">

<h1 class="destination__title"><%= destination %></h1>

    <article class="destination__article">
        <div class="destination__article-left">
            <p><%= destination %> is unbelievable !</p>
        </div>
        <div class="destination__article-right">
            <img class="destination__article-right-img" src="/img/<%= destination %>.png" alt="<%= destination %>">
        </div>
    </article>

<%- include('partials/footer') %>