<%- include('partials/header') %>
<link rel="stylesheet" href="/css/oneHotelStyle.css">
    
    <article class="hotel__article"></article>

        <div class="hotel__top">
            <h1 class="hotel__top-title"><%= hotel.dataValues.name %></h1>
            <div class="hotel__top-location">
                <h2 class="hotel__top-city"><%= hotel.cities.dataValues.name %>, </h2>
                <h2 class="hotel__top-country"><%= hotel.destinations.dataValues.country %></h2>
            </div>
        </div>
        <img class="hotel__article-img" src="/img/<%= hotel.image %>.png" alt="<%= hotel.name %>">
        <div class="hotel__article-description">
            <p><%= hotel.dataValues.description %></p>
        </div>
        <div class="hotel__article__rate">
            <p id="hotel__article__rate-price">$ <%= hotel.price %></p>
            <p id="hotel__article__rate-review">$ <%= hotel.review %></p>
        </div>

    </article>

<%- include('partials/footer') %>