<%- include('partials/header') %>
<link rel="stylesheet" href="/css/oneHotelStyle.css">

<h1 class="hotel__title">Discover your hotel</h1>
    
    <article class="hotel__article">
        <div class="sliderAndNav">
            <div class="slider">
            <div id="imgG">
                <div id="imgR">
                <div id="imgP">
                    <div class="images">
                        <img src="/img/<%= hotel.image_general %>.png" alt="<%= hotel.image_general %>">
                        <img src="/img/<%= hotel.image_restaurant %>.png" alt="<%= hotel.image_restaurant %>">
                        <img src="/img/<%= hotel.image_pool %>.png" alt="<%= hotel.image_pool %>">
                    </div>
                </div> 
                </div> 
            </div> 
            </div> 
            <div class="nav">
                <a href="#imgG"></a>
                <a href="#imgR"></a>
                <a href="#imgP"></a>
            </div>
        </div>  
        <div class="hotel__text">
            <h1 class="hotel__text-title"><%= hotel.name %></h1>
            <div class="hotel__text-location">
                <h2 class="hotel__text-city"><%= hotel.cities.name %>, </h2>
                <h2 class="hotel__text-country"><%= hotel.destinations.country %></h2>
            </div>
            <div class="hotel__article-description">
                <p><%= hotel.description %></p>
            </div>
            <div class="hotel__article-booking">
                <a id="hotel__article-booking-rooms" href="/hotels/rooms/<%= hotel.id %>">Available rooms</a>
                <a id="hotel__article-booking-favorite" href="/favorites/add/<%= hotel.id %>">Add to favorites</a>
            </div>
            <div class="hotel__article-rate">
                <p id="hotel__article__rate-price">$ <%= hotel.price %></p>
                <p id="hotel__article__rate-review"><%= hotel.review %> &#9733; / 10</p>
            </div>
            
        </div> 

    </article>

<%- include('partials/footer') %>